:root {
    color-scheme: dark cyan;
    color: white;
    background-color: rgba(0, 100, 100);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page {
    background-color: rgb(51,162,162);
    color: white;
    min-height: 80vh;
    padding: 40px;
}

#app {
    background-color: rgb(51,162,162);
}